/* .selector-for-some-widget 
{
    box-sizing: content-box;
} */

/* Typography */
h1, h2, h3 
{
    font-family: "edita", serif;
    font-weight: 700;
    font-style: normal;
}
h4, h5, h6 
{
    font-family: "utopia-std-subhead", serif;
    font-weight: 700;
    font-style: normal;
}
p 
{
    font-family: edita, serif;
    color: #fafaff;
}

/* Color Theme Swatches in Hex */
.color-theme-1-hex { color: #330099; }
.color-theme-2-hex { color: #00ABC8; }
.color-theme-3-hex { color: #7C868C; }
.color-theme-4-hex { color: #B6DCE1; }
.color-theme-5-hex { color: #DAE1E9; }

/* Color Theme Swatches in RGBA */
.color-theme-1-rgba { color: rgba(51, 0, 153, 1); }
.color-theme-2-rgba { color: rgba(0, 171, 200, 1); }
.color-theme-3-rgba { color: rgba(124, 134, 140, 1); }
.color-theme-4-rgba { color: rgba(182, 220, 225, 1); }
.color-theme-5-rgba { color: rgba(218, 225, 233, 1); }

/* Color Theme Swatches in HSLA */
.color-theme-1-hsla { color: hsla(260, 100, 30, 1); }
.color-theme-2-hsla { color: hsla(188, 100, 39, 1); }
.color-theme-3-hsla { color: hsla(202, 6, 51, 1); }
.color-theme-4-hsla { color: hsla(186, 41, 79, 1); }
.color-theme-5-hsla { color: hsla(212, 25, 88, 1); }


body
{
    background-image: url(../images/purpleBackgroundLogo.png);
    background-size: 20%;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* Navigation bar */
/* General */

.navbar 
{
    outline: 1px solid red;
}
.customNav
{
    position: fixed;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: #7C868C !important;
    background-size: cover;
    z-index: 10;
}
.customNav a 
{
    color: white !important;
}

/* Hero Landing CSS */
.heroHead
{
    background-size: cover;
    min-height: 95vh;
    position: relative;
    color: #fafaff;
    text-shadow: 2px 2px 2px rgba(61, 67, 77, 0.2);
}
.color-overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
h1
{
    font-size: 4rem;
}


/* Container */

.projectOverview-container
{
    outline: 1px solid red;
}
.projectOverview-card
{
    background-color: rgba(218, 225, 233, 1);
    outline: 1px solid red;
}
.imageOverview
{
    max-width: fit-content;
    outline: 1px solid red;
}
.card
{
    background-color: #7b868c;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;
}

/* Button CSS */
.btn-group
{
    flex: 1 1 auto;
    padding: 1px;
    margin-right: 2px;
    outline: 1px solid red;
}
.btn
{
    color: #330099;
}
.btn-primary
{
    background-image: url(../images/purpleGradientBackground.png);
    border-color: #DAE1E9;
    outline: 1px solid red;
}
.btn-primary:hover
{
    background-image: url(../images/gradientLightVertical.png);
    color: #330099;
    border-color: #330099;
    outline: 1px solid red;
}
.btn-primary:link 
{
    color: #330099;
    outline: 1px solid red;
}
.btn-primary:visited 
{
    color: #DAE1E9;
    text-decoration: none;
    outline: 1px solid red;
}
.btn-primary:active 
{
    color: #330099;
    text-decoration: none;
    outline: 1px solid red;
}


/* Footer CSS */

footer
{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #7C868C;
    outline: 1px solid red;
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
    color: #fafaff;
  }
.nav-scroller 
{
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
.nav-scroller .nav 
{
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.secondary2
{
    color: #fafaff;
}


@media (max-width: 768px)
{
    .heroHead
    {
        min-height: 40vh;
        background-position: center center;
    }
    h1 
    {
        font-size: calc(1.525rem + 3.3vw);
        text-align: center;
    }
    .background-image
    {
        position: center;
    }

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
}