/* .selector-for-some-widget 
{
    box-sizing: content-box;
} */

/* Typography */
h1, h2, h3 
{
    font-family: "edita", serif;
    font-weight: 700;
    font-style: normal;
}
h4, h5, h6 
{
    font-family: "utopia-std-subhead", serif;
    font-weight: 700;
    font-style: normal;
}
p 
{
    font-family: edita, serif;
    color: #fafaff;
}

/* Color Theme Swatches in Hex */
.color-theme-1-hex { color: #330099; }
.color-theme-2-hex { color: #00ABC8; }
.color-theme-3-hex { color: #7C868C; }
.color-theme-4-hex { color: #B6DCE1; }
.color-theme-5-hex { color: #DAE1E9; }

/* Color Theme Swatches in RGBA */
.color-theme-1-rgba { color: rgba(51, 0, 153, 1); }
.color-theme-2-rgba { color: rgba(0, 171, 200, 1); }
.color-theme-3-rgba { color: rgba(124, 134, 140, 1); }
.color-theme-4-rgba { color: rgba(182, 220, 225, 1); }
.color-theme-5-rgba { color: rgba(218, 225, 233, 1); }

/* Color Theme Swatches in HSLA */
.color-theme-1-hsla { color: hsla(260, 100, 30, 1); }
.color-theme-2-hsla { color: hsla(188, 100, 39, 1); }
.color-theme-3-hsla { color: hsla(202, 6, 51, 1); }
.color-theme-4-hsla { color: hsla(186, 41, 79, 1); }
.color-theme-5-hsla { color: hsla(212, 25, 88, 1); }


body
{
    background-image: url(../images/purpleBackgroundLogo.png);
    background-size: 20%;
    background-repeat: repeat;
    position: 50% 0;
    background-attachment: fixed;
    align-items: center;
    justify-self: center;
    justify-content: center;
    z-index: 10;
}

/* Navigation bar */

/* General */
.customNav 
{
    position: fixed;
    width: 100%;
    background: url("../images/transparency.png");
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
    outline: 1px solid red;
}
.navbar 
{
    margin-left: auto;
    margin-right: 0 !important;
    outline: 1px solid red;
}
.navbar-brand img 
{
    padding-right: 25px;
    padding-left: 25px;
    width: 200px;
    outline: 1px solid red;
}
.nav-item 
{
    margin: 0px 25px;
    outline: 1px solid red;
  }

  /* Navigation links */
.customNav a 
{
    color: white !important;
    outline: 1px solid red;
}
.navCTA 
{
    font-size: 15px;
    outline: 1px solid red;
}
  
/* Jumbotron  */
.jumbotron 
{
    background-image: url(../images/ccHeroImage2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid red;
}
  
/* Jumbotron Child */
.jumboChild
{
    width: 80%;
    min-width: 500px;
    max-width: 700px;
    color: white;
    text-align: center;
    background-color: rgba(61, 67, 77, 0.80);
    outline: 1px solid red;
}

/* Container */
.container
{
    margin: 20px auto;
    background-color: #7b868c;
    outline: 1px solid red;
}
.card
{
    background-color: #7b868c;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;
}

/* Button CSS */
.btn-group
{
    flex: 1 1 auto;
    padding: 1px;
    margin-right: 2px;
    outline: 1px solid red;
}
.btn
{
    color: #330099;
}
.btn-primary
{
    background-image: url(../images/purpleGradientBackground.png);
    border-color: #DAE1E9;
    outline: 1px solid red;
}
.btn-primary:hover
{
    background-image: url(../images/gradientLightVertical.png);
    color: #330099;
    border-color: #330099;
    outline: 1px solid red;
}
.btn-primary:link 
{
    color: #330099;
    font-size: 18px;
    outline: 1px solid red;
}
  .btn-primary:visited {
    color: #DAE1E9;
    text-decoration: none;
    outline: 1px solid red;
  }
  .btn-primary:active 
  {
    color: #330099;
    text-decoration: none;
    outline: 1px solid red;
  }
